tmux/resurrect/*
!tmux/resurrect/
zsh/.zcompdump
zsh/.zsh_history
tmux/plugins/

tmux/resurrect/*
!tmux/resurrect/
zsh/.zcompdump
zsh/.zsh_history
tmux/plugins/

zsh-config/.zcompdump
zsh-config/.zsh_sessions/

.DS_Store

tmp*
/.obsidian/

*.zip

nvim/lazy-lock.json

zmk-config/.git
