tmux/resurrect/*
!tmux/resurrect/
zsh/.zcompdump
zsh/.zsh_history
tmux/plugins/

zsh/.zcompdump
zsh/.zsh_history
tmux/plugins/

zsh/.zcompdump
zsh/.zsh_sessions/

.DS_Store

tmp*
/.obsidian/

*.zip

nvim/lazy-lock.json

zmk-config/.git
# Git worktrees managed by 'wt' script
.worktrees/


zsh/.zsh_sessions/
zsh/.zcompdump*
zsh/*.zwc
zsh/.python_history

scripts/tmux-sessionizer-meta
