{
 :devices       {;; define devices
                 ;; vendor_id and product_id can be found in Karabiner EventViewer gui
                 :black [{:vendor_id 21972 :product_id 1121 }]
                 }
 :main [

    {
     :des "ctrl+backspace -> option+backspace"
     :rules [

            [:!Tdelete_or_backspace :!Odelete_or_backspace]
            [:##caps_lock :left_control nil {:alone :escape}]
             ]
     }
    {
     :des "ctrl+, -> option+,"
     :rules [

            [:!Tcomma :!Ocomma]
            [:!Tperiod :!Operiod]
             ]
     }
    {
     :des "black corne mapping"
     :rules
            [
            [:condi :black]
            [:##spacebar :left_shift nil {:alone :spacebar}]
            [:##left_control :left_control nil {:alone :escape}]
            [:##return_or_enter :left_control nil {:alone :return_or_enter}]
             ]
     }
]}
